<div class="card mb-4">
  <div class="card-img-wrapper">
  <img class="card-img-top" src="{{ User.photoURL }}" alt="{{User.knownAs}}" >
  <ul class="list-inline member-icons animate text-center">
    <li class="list-inline-item"><button class="btn btn-primary"><i class="fa fa-user"
      [routerLink]="['/members',User.id]" ></i></button></li>
    <li class="list-inline-item"><button class="btn btn-primary"><i class="fa fa-heart"></i></button></li>
    <li class="list-inline-item"><button class="btn btn-primary"><i class="fa fa-envelope"></i></button></li>
  </ul>

</div>
<div class="card-body p-1">
    <h5 class="card-title text-center mb-1"><i class="fa fa-user">{{User.knownAs}},{{User.age}}</i> </h5>
    <p class="card-text text-muted text-center">{{User.city}}</p>
</div>
</div>